.main-interest-details {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.interestdetails-wrapper {
    width: 80%;
    /* background-color: rgb(188, 225, 40); */
    height: 100vh;
    text-align: start;
    gap: 10px;
    display: flex;
}

.left-content-details {
    width: 15%;
    height: 45%;
    position: sticky;
    top: 5rem;
    /* background-color: red; */
    /* background-color: white; */
}

.mid-content-details {
    width: 50%;
    /* background-color: aquamarine; */
}

.right-content-details {

    width: 20%;
    height: 60%;
    background-color: white;
}

.field-img-follow {
    height: 17%;
    background-color: white;
}

.field-img-follow {
    display: flex;
    align-items: center;
}

.follower-name {
    margin-left: 1rem;
}

.left-img-details {
    margin-left: 10px;
}

.left-img-details img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    /* border: 1px solid grey; */
}

.follower-name button {
    border: 0;
    padding: 7px 10px;
    border-radius: 10px;
}

.follower-name i {
    position: relative;
    top: 10px;
    left: 250%;
    font-size: 2rem;
}